<header id="navbar">
    <a href="/" id="home-logo">Home</a>
    <div id="user-links">
        <% if(locals.user) { %>
            <a href="/users/profile">Profile</a>
            <a href="/users/signout">Sign Out</a>
        <% } else {%>
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        <% } %>
    </div>
</header>